#root{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.flex{
    display: flex;
    flex-flow: row nowrap;
    .flex-cell{
        flex:1
    }
}

.not-found-container{
    margin-top: 160px;
}
