#root{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.flex{
    display: flex;
    flex-flow: row nowrap;
    &.column{
        flex-flow: column nowrap;
    }
    &.between{
        justify-content: space-between;
    }
    .flex-cell{
        flex:1
    }
}

.table-popover-container{
    min-width: 250px;
    max-width: 400px;
    .ant-popover-title{
        .flex{
            span{
                &:last-child{
                    font-size: 12px;
                    color: #909499;
                    font-weight: normal;
                }
            }
        }
    }
}

.form-container{
    .form-title{
        position: relative;
        padding-left: 14px;
        margin-left: 14px;
        font-weight: bold;
        font-size: 13px;
        color: #57626D;
        &:before{
            content: '';
            position: absolute;
            top: 48%;
            left: 0;
            transform: translateY(-50%);
            height: 16px;
            width: 4px;
            background-color: #409EFF;
        }
    }
    .form-tips{
        padding-left: 30px;
        font-size: 13px;
        line-height: 32px;
        color: #C0C6CC;
    }
    .region-wrap{
        .ant-form-item-control-input-content{
            &>input.ant-input{
                margin-left: 12px;
                width: 322px;
            }
        }

        .ant-cascader-picker{
            width: 196px;
        }
        &>input.ant-input{
            margin-left: 12px;
            width: 322px;
        }
    }
    .address-item{
        position: relative;
        .ant-form-item-control-input{
            position: relative;
        }
    }
    .address-wrap{
        display: block;
        width: 332px;
        position: absolute;
        left:20.5%;
        top:0;
        .ant-col-6{
            max-width: 100%;
        }
    }
}

.summary-container{
    padding-bottom: 14px;
    font-size: 14px;
    span{
        width: 200px;
        i{
            &:last-child{
                font-size: 24px;
                color: @primary-color;
            }
        }
    }
}

.upload-container{
    .upload-wrapper{
        display: inline-block;
    }
    .upload-template{
        font-size: 13px;
        color: #909499;
        margin-left: 8px;
        i{
            color: @primary-color;
            margin: 0 2px;
            cursor: pointer;
        }
    }
    .upload-txt{
        font-size: 13px;
        color: #909499;
        margin-top: 12px;
        margin-bottom: 0;
    }
}

.import-dialog-container{
    .import-dialog-wrapper{
        .import-cell{
            &>p{
                padding-left: 12px;
                margin-top: 20px;
                font-size: 14px;
                color: #57626D;
                position: relative;
                &:before{
                    content:'';
                    display: inline-block;
                    width: 4px;
                    height: 16px;
                    background-color: @primary-color;
                    margin-right: 8px;

                    position: absolute;
                    left:0;
                    top:50%;
                    transform: translateY(-50%);
                }
            }
        }
        .import-content{
            p{
                margin-bottom: 8px;
                color: #57626D;
                font-size: 13px;
                span{
                    color: #909499;
                }
            }

        }
    }
}

.not-found-container{
    margin-top: 160px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #cdc4ef;

    &-track-piece {
        width: 6px;
        background-color: #f8f8f8;
    }

    &-thumb {
        width: 6px;
        border-radius: 3px;
        background-color: #ccc;
        cursor: pointer;

        &:hover {
            background-color: #999;
        }
    }
}
